/* colors
#0e0b16
#a239ca
#4717f6
#e7dfdd */

*{
    color: #e7dfdd;
}
body {
    padding: 10px;
    background-color: #0e0b16;
    text-align: center;
}

header {
    background-color: #0e0b16;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0e0b16;
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: #e7dfdd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover {
    background-color: #4717f6;
}

figure img{
    width: 40%;
}

.headshot {
    border-radius: 50%;
    border-color: #a239ca;
    border-style: solid;
    border-width: 2%;
}

.projects{
    display: flex;
    flex-wrap: wrap;
}

.projects a{
    display: flex;
    width: 700px;
    max-width: 50%;
    margin: auto;
    background-color: #a239ca;
    }

.project-card-main{
  margin: auto;
  width: 1100px;
  max-width: 80%;
}

.project-card{
    justify-content: center;
    width: 100%;
   
}

